<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wenjifeng.springbootmycat.mapper.UserMyCatMapper">

	<insert id="addUserMyCat" useGeneratedKeys="true" keyProperty="id">
			insert into user_mycat (name,indate)
				values(
					#{name},
					now()
				)
	</insert>
	
	<select id="queryUserMyCatById" resultType="com.wenjifeng.springbootmycat.entity.UserMyCat">
		select * from user_mycat
	</select>
	

</mapper>